@keyframes transform {
    0%,
  100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
   14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
   28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
   42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
   56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
   70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
   84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}

@keyframes movement {
    0%,
  100% { transform: translateY(-10%); }
   50% { transform: translateY(10%); }
}

* {
    font-family: "Josefin Sans", sans-serif;
    margin: 0%;
    scrollbar-width: auto;
    scrollbar-color: rgba(127, 127, 127, 0.502) #000000;
  }

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-thumb {
    background-color: #00000080;
    border-radius: 10px;
    border: 0px;
}

html {
    --scroll-behavior: smooth;
    scroll-behavior: smooth;
    overflow: overlay;
    overflow-x: hidden;
    background: linear-gradient(to bottom right, #2b8eaf, #b222a8);
    background-attachment: fixed;
}

#vignette {
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    box-shadow: 0px 0px 250px 0px #000000 inset;
    z-index: 3;
}

#wordmark {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 3vh;
    height: 2vh;
}

#backBtn {
    position: fixed;
    z-index: 2;
}

#topBtn {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0vh;
    z-index: 2;
}

#blog {
    display: grid;
}

#posts {
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 1vw;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1vw 1vw;
    grid-template-areas:
    ". . ."
    ". . .";
    grid-template-rows: masonry;
}

#post:hover {
    -webkit-transform: scale(1.05) rotate(1deg);
    transform: scale(1.05) rotate(1deg);
}

.wide {
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 1vw;
    position: relative;
    transition: max-height 0.5s ease-in-out, transform 0.3s ease-in-out;
    max-height: 50vh;
    width: 96vw;
    overflow: hidden;
    background: #1a1a1a99;
    border-radius: 10px;
    background: rgba( 0, 0, 0, 0.25 );
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.37);
    border-top: #1a1a1a99 20px;
    place-self: center;
}

.wide:hover {
    -webkit-transform: scale(1.01) rotate(1deg);
    transform: scale(1.01) rotate(1deg);
}

.postTitleWide {
    position: absolute;
    bottom: 0;
}

/*big screens (Computers)*/
#post {
    position: relative;
    transition: max-height 0.5s ease-in-out, transform 0.3s ease-in-out;
    border-top: #1a1a1a99 20px;
    width: 100%;
    height: fit-content;
    max-height: 50vh;
    overflow: hidden;
    background: #1a1a1a99;
    border-radius: 10px;
    background: rgba( 0, 0, 0, 0.25 );
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.37);
    place-self: center;
}

/*medium screens (tablets)*/
@media only screen and (max-width: 1024px) {
    #posts {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        ". ."
        ". .";
    }

    #post {
        width: 45vw;
    }

    .wide {
        width: 94vw;
    }
}

/*small screens (phones)*/
@media only screen and (max-width: 480px) {
    #posts {
        grid-template-columns: 1fr;
        grid-template-areas:
        "."
        ".";
    }
    
    #post {
        width: 90vw;
    }

    .wide {
        width: 90vw;
    }

    .postTitleWide {
        position: relative;
    }
}

#postAbout {
    margin-top: auto;
    border-top-right-radius:  10px;
    border-top-left-radius:  10px;
    background-color: #000000;
    margin: 3px;
    height: 4vh;
    align-content: center;
    background: rgba( 0, 0, 0, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
}

.postDate {
    margin-right: 1vw;
    line-height: 4vh;
    float: right;
}

.authorImg {
    border-radius: 100%;
    margin: 0.5vh;
    float: left;
    height: 3vh;
}

.authorName {
    float: left;
    height: 4vh;
    line-height: 4vh;
}

#postContent {
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin: 3px;
    margin-top: 0px;
}

#postImg {
    width: 100%;
    object-fit: cover;
    background: rgba( 0, 0, 0, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
}

.postTitle {
    margin: 10px;
}

#postText {
    margin: 10px;
}

#footer {
    position: relative;
    text-align: center;
    margin-top: 1.5vw;
    background-color: #000000c2;
    padding: 50px;
}

#footer p {
    margin-bottom: 10px;
}

#footer a {
    color: #00BFFF;
    text-decoration: none;
}

#footer img {
    margin-bottom: 50px;
    vertical-align: middle;
    height: 4vh;
}

#footercontact img {
    opacity: 0.75;
    margin-right: 5px;
    margin-left: 5px;
}

h1,
h2,
h3,
a,
p {
    color: White;
}

#error {
    font-family: sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
    color: hsl(0,0%,100%);
    background-color: #c22e32;
    padding: 5px 0;
}
