@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

@keyframes transform {
    0%,
  100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
   14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
   28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
   42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
   56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
   70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
   84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}

@keyframes movement {
    0%,
  100% { transform: translateY(-10%); }
   50% { transform: translateY(10%); }
}

* {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0%;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #00000080;
    border-radius: 10px;
    border: 2px solid #000000 0.5;
}

html {
    --scroll-behavior: smooth;
    scroll-behavior: smooth;
    overflow: overlay;
    background: linear-gradient(to bottom right, #2b8eaf, #b222a8);
}

.vignette {
    z-index: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 250px 0px #000000 inset;
}

.main,
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.wordmark {
    z-index: 1;
    margin-top: 5vh;
    height: 2vh;
}

.center {
    margin-top: 25vh;
    display: flex;
    justify-content: center;
    height: 25vh;
    width: 25vh;
    box-shadow: 0 0 20px #000;
    transition: height 0.4s ease-in-out, width 0.4s ease-in-out, margin-top 0.4s ease-in-out;
    background: -moz-linear-gradient(45deg, #2b8eaf 0%, #b222a8 100%);
    background: -webkit-linear-gradient(45deg, #2b8eaf 0%, #b222a8 100%);
    background: linear-gradient(45deg, #2b8eaf 0%, #b222a8 100%);
    animation: 
    transform 50s ease-in-out infinite both alternate,
    movement 10s ease-in-out infinite both;
    position: absolute;
}

.centerIcon, .centerIcon2 {
    position: absolute;
    transition: height 0.4s ease-in-out, margin 0.4s ease-in-out, opacity 0.4s ease-in-out;
    height: 60%;
    margin: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    filter: drop-shadow(0 0 10px #00BFFF);
    -webkit-filter: drop-shadow(0 0 10px #00BFFF);
}

.centerIcon2 {
    filter: drop-shadow(0 0 10px #ff00ee);
    -webkit-filter: drop-shadow(0 0 10px #ff00ee);
}

.button {
    opacity: 0.75;
    transition: opacity 0.4s ease-in-out;
    margin: 1%;
    position: absolute;
    height: 6vh;
}

.projectsBtn {
    position: absolute;
    bottom: 0vh;
    z-index: 1;
}

.projectsBtn img {
    height: 15vh;
}

.topBtn {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0vh;
    z-index: 1;
}

.description {
    font-weight: normal;
    line-height: 120%;
    font-size: 2vh;
    margin: 1vh;
    margin-top: 60vh;
    height: 5vh;
    z-index: 100;
    text-align: center;
}

.soon {
    margin-top: 50vh;
}

.posts {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 14px 14px;
    grid-template-areas:
    ". . ."
    ". . .";
}

.post {
    border-top: #1a1a1a99 20px;
    border-radius: 10px;
    width: 30vw;
    min-height: fit-content;
    overflow-y: hidden;
    background: #1a1a1a99;
    margin: 1vw;
    text-align: center;
}

.postHeader {
    margin-top: auto;
    border-top-right-radius:  10px;
    border-top-left-radius:  10px;
    background-color: #000000;
    margin: 3px;
    height: 4vh;
    align-content: center;
}

.postHeader p {
    margin-right: 1vw;
    line-height: 4vh;
    float: right;
}

.postHeader img {
    margin: 0.5vh;
    float: left;
    height: 3vh;
}

.postContent {
    height: 10vh;
    display: flex;
    flex: 0 1 auto;
}

.postImg {
    flex-grow: 0;
    flex-shrink: 1;
    height: 10vh;
    width: 10vw;
    object-fit: cover;
}

.footer {
    position: relative;
    z-index: 2;
    text-align: center;
    background-color: #000000c2;
    padding: 50px;
}

.footer p {
    margin-bottom: 10px;
}

.footer a {
    color: #00BFFF;
    text-decoration: none;
}

.footer img {
    margin-bottom: 50px;
    vertical-align: middle;
    height: 4vh;
}

.footercontact img {
    opacity: 0.75;
    margin-right: 5px;
    margin-left: 5px;
}

h1,
a,
p {
    color: White;
}

.hide {
    opacity: 0;
    z-index: -1;
}

.bigger {
    margin-top: 22.5vh;
    height: 30vh;
    width: 30vh;
}

.error {
    font-size: 100%;
    margin: 2%;
    text-align: center;
    color: red;
}
