@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@keyframes pulse {
    from {
        transform: var(--animation-scale-from);
    }
    to {
        transform: var(--animation-scale-to);
    }
}

* {
    font-family: 'Ubuntu';
    margin: 0%;
    transition: all 0.4s ease-in-out;
}

:root {
    --animation-scale-from: scale(100%);
    --animation-scale-to: scale(110%);
}

html {
    background-image:
    linear-gradient(to bottom right, rgba(43, 142, 175, 1), rgba(178, 34, 168, 1));
    background-attachment: fixed;
    scroll-behavior: smooth;
    overflow: hidden;
}

.vignette {
    width: 100%;
    height: 100%;
    position: fixed;
    box-shadow: inset 0px 0px 250px #000000;
}

.main,
.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0 auto;
}

.buttons {
    position: relative;
    height: 240px;
}

.mainbutton {
    z-index: 1;
    height: 240px;
    animation: pulse 1s infinite;
    animation-direction: alternate;
    border: -1px solid #fff;
    box-shadow: 0px 0px 10vh black;
    -moz-box-shadow: 0px 0px 10vh black;
    -webkit-box-shadow_: 0px 0px 10vh black;
    border-radius: 190%;
    -moz-border-radius: 190%;
    -webkit-border-radius: 190%;
}

.button {
    margin: 1%;
    z-index: -1;
    position: absolute;
    height: 80.766px;
}

.backBtn {
    position: absolute;
    top: 100vh;
}

.projectsBtn {
    position: absolute;
    bottom: 0vh;
}

.description {
    margin-top: 15vh;
    text-align: center;
}

.credits {
    padding: 0.5%;
    font-size: 1.5vh;
    z-index: 2;
    position: fixed;
}

a,
p {
    color: White;
}

.error {
    font-size: 100%;
    margin: 2%;
    text-align: center;
    color: red;
}