@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

@keyframes transform {
    0%,
  100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
   14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
   28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
   42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
   56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
   70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
   84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}

@keyframes movement {
    0%,
  100% { transform: none; }
   50% { transform: translateY(20%) rotateY(10deg); }
}

* {
    font-family: 'Ubuntu';
    margin: 0%;
    transition: height 0.4s ease-in-out;
}

html {
    background-image: linear-gradient(to bottom right, #2b8eaf, #b222a8);
    background-attachment: fixed;
    --scroll-behavior: smooth;
    scroll-behavior: smooth;
    overflow: hidden;
}

.vignette {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
    box-shadow: inset 0px 0px 250px #000000;
}

.main,
.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}

.wordmark {
    margin-top: -45vh;
    height: 2vh;
    position: absolute;
}

.center {
    margin-top: -20vh;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 250px;
    width: 250px;
    filter: drop-shadow(0 0 20px #000);
    transition: height 0.4s ease-in-out, width 0.4s ease-in-out;
    background: -moz-linear-gradient(45deg, #2b8eaf 0%, #b222a8 100%);
    background: -webkit-linear-gradient(45deg, #2b8eaf 0%, #b222a8 100%);
    background: linear-gradient(45deg, #2b8eaf 0%, #b222a8 100%);
    animation: 
    transform 50s ease-in-out infinite both alternate,
    movement 10s ease-in-out infinite both;
}

.centerIcon, .centerIcon2 {
    position: absolute;
    transition: height 0.4s ease-in-out, margin 0.4s ease-in-out, opacity 0.4s ease-in-out;
    height: 60%;
    margin: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    filter: drop-shadow(0 0 10px #00BFFF);
    -webkit-filter: drop-shadow(0 0 10px #00BFFF);
}

.centerIcon2 {
    filter: drop-shadow(0 0 10px #ff00ee);
    -webkit-filter: drop-shadow(0 0 10px #ff00ee);
}

.button {
    transition: opacity 0.4s ease-in-out;
    margin: 1%;
    position: absolute;
    height: 60px;
}

.backBtn {
    position: absolute;
    top: 100vh;
}

.projectsBtn {
    position: absolute;
    bottom: 0vh;
}

.description {
    margin: 1vh;
    margin-top: 15vh;
    text-align: center;
}

.line {
    position: absolute;
    left: 50vw;
    z-index: -1;
    border-width: 0 5px 0 0;
    border-style: dashed;
    border-color: rgba(0, 0, 0, 0.4);
    transform: translateX(-50%);
    height: 85vh;
    margin-top: 15vh;
}

.posts {
    overflow-y: scroll;
    max-height: 85vh;
    margin-top: 15vh;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    ". ."
    ". ."
    ". ."
    ". .";
}

.post {
    position: relative;
    margin: 2vh;
    margin-bottom: 1vh;
    margin-top: 1vh;
    padding: 1vh;
    height: fit-content;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 15px 15px;
}

.credits {
    padding: 0.5%;
    font-size: 1.5vh;
    z-index: 2;
    position: fixed;
}

a,
p {
    color: White;
}

::-webkit-scrollbar {
    width: 0px;
}

.hide {
    opacity: 0;
    z-index: -1;
}

.bigger {
    height: 300px;
    width: 300px;
}

.error {
    font-size: 100%;
    margin: 2%;
    text-align: center;
    color: red;
}