---
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>A Я B E E | BLOG</title>
    <meta name="description" content="ARBEE's Blog">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/blog.css" />
    <link rel="icon" href="/img/2022-01_ARBEE_Bild-Marke_rgb_Verlauf_01.png">
    <link rel="canonical" href="https://arbeeco.de/blog">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@0Arbee0" />
    <meta name="twitter:creator" content="@0Arbee0" />
    <meta property="og:url" content="https://arbeeco.de/blog" />
    <meta property="og:title" content="ARBEE's Blog" />
    <meta property="og:description"
        content="Read about stuff ARBEE is doing or thinking about technical, political or any other stuff." />
    <meta property="og:image"
        content="https://arbeeco.de/authorImg/2022-01_ARBEE_Bild-Marke_rgb_weiss_bg_verlauf_01.png" />
    <meta name="theme-color" content="#2b8eaf" />
</head>

<body>
    {% header %}
    <main>
        <!-- <div id="filterLinks">
            <p class="filterHead">Filter by Category:</p>
            {% for category in site.categories %}
            <a class="filterLink" href="/blog?c={{ category | first }}">{{ category | first }}</a>
            {% endfor %}
        </div> -->
        <div class="posts">
            {% assign latest_posts = collections.post | reverse %}
            {% for post in latest_posts %}
            <div class="post" data-tilt data-tilt-scale="1.05" data-tilt-max="5">
                <div id="postAbout">
                    <a href="{{ post.data.authorurl }}" target="_blank">
                        <img class="authorImg" src="{{ post.data.authorimage }}">
                    </a>
                    <a class="authorName" href="{{ post.data.authorurl }}" target="_blank">{{ post.data.author }}</a>
                    <p class="postDate">{{ post.date | date: "%d %b %Y" }}</p>
                </div>
                <h3 class="postCategory"><a href="/blog?c={{ post.data.category }}">{{ post.data.category }}</a></h3>
                <a class="postLink" href="{{ post.url | remove: '.html'}}">
                    <article id="postContent">
                        {% if post.data.category == "MINECRAFT MOD" %}
                        <iframe id="postFrame" frameBorder="0" src="../genImg?p={{ post.data.modrinthslug }}"></iframe>
                        {% else %}
                        <img id="postImg" src="{{ post.data.postimage }}">
                        {% endif %}
                        <h2 class="postTitle">{{ post.data.title }}</h2>
                        {% if post.data.category == "MINECRAFT MOD" %}
                        <p class="postPreview">{% modPostPreview post.data.modrinthslug %}</p>
                        {% else %}
                        <p class="postPreview">{{ post.templateContent | fifty_words }}</p>
                        {% endif %}
                    </article>
                </a>
            </div>
            {% endfor %}
        </div>
    </main>
    {% footer %}
    <script type="text/javascript" src="/script/vanilla-tilt.js"></script>
    <script src="/script/top.js"></script>
    <script src="/script/filter.js"></script>
</body>

</html>