---
---

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V1HNCZ1E9D"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-V1HNCZ1E9D');
    </script>
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
            h._hjSettings = { hjid: 2893167, hjsv: 6 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script'); r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
    <meta charset="utf-8" />
    <title>A Я B E E | BLOG</title>
    <meta name="description" content="ARBEE's Blog">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/blog.css" />
    <link rel="icon" href="img/2022-01_ARBEE_Bild-Marke_rgb_Verlauf_01.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="canonical" href="https://arbeeco.de/blog">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@0Arbee0" />
    <meta name="twitter:creator" content="@0Arbee0" />
    <meta property="og:url" content="https://arbeeco.de/blog" />
    <meta property="og:title" content="ARBEE's Blog" />
    <meta property="og:description"
        content="Read about stuff ARBEE is doing or thinking about technical, political or any other stuff." />
    <meta property="og:image" content="https://arbeeco.de/authorImg/2022-01_ARBEE_Bild-Marke_rgb_weiss_bg_verlauf_01.png" />
    <meta name="theme-color" content="#2b8eaf" />
</head>

<body>
    <noscript>
        <div id="error">
            <strong>
                This site works best with JavaScript enabled! (╯°□°）╯︵ ┻━┻
            </strong>
        </div>
    </noscript>
    <img id="topBtn" src="/img/TopIcon.svg" alt="Click to go back to top.">
    <div id="vignette"></div>
    <a href="/">
        <img src="/img/2022-01_ARBEE_Wort-Marke_rgb_weiss_01.svg" id="wordmark" alt="ARBEE's Wordmark">
    </a>
    <main>
        <!-- <div id="filterLinks">
            <p class="filterHead">Filter by Category:</p>
            {% for category in site.categories %}
            <a class="filterLink" href="/blog?c={{ category | first }}">{{ category | first }}</a>
            {% endfor %}
        </div> -->
        {% for post in site.posts limit:1 %}
        <div class="post wide">
            <div id="postAbout">
                <a href="{{ post.authorurl }}" target="_blank">
                    <img class="authorImg" src="{{ post.authorimage }}">
                </a>
                <a class="authorName" href="{{ post.authorurl }}" target="_blank">{{ post.author }}</a>
                <p class="postDate">{{ post.date | date_to_string }}</p>
            </div>
            <h3 class="postCategory"><a href="/blog?c={{ post.category }}">{{ post.category }}</a></h3>
            <a class="postLink" href="{{ post.url }}">
                <article id="postContent">
                    {% if post.category == "MINECRAFT MOD" %}
                        <iframe id="postFrame" frameBorder="0" src="genImg?p={{ post.title }}"></iframe>
                    {% else %}
                        <img id="postImg" src="{{ post.postimage }}">
                    {% endif %}
                    <h2 class="postTitle">{{ post.title }}</h2>
                    <p class="postPreview">{{ post.content | truncatewords: 50 | strip_html }}</p>
                </article>
            </a>
        </div>
        {% endfor %}
        <div id="posts">
            {% for post in site.posts offset:1 %}
            <div class="post">
                <div id="postAbout">
                    <a href="{{ post.authorurl }}" target="_blank">
                        <img class="authorImg" src="{{ post.authorimage }}">
                    </a>
                    <a class="authorName" href="{{ post.authorurl }}" target="_blank">{{ post.author }}</a>
                    <p class="postDate">{{ post.date | date_to_string }}</p>
                </div>
                <h3 class="postCategory"><a href="/blog?c={{ post.category }}">{{ post.category }}</a></h3>
                <a class="postLink" href="{{ post.url }}">
                    <article id="postContent">
                        {% if post.category == "MINECRAFT MOD" %}
                            <iframe id="postFrame" frameBorder="0" src="genImg?p={{ post.title }}"></iframe>
                        {% else %}
                            <img id="postImg" src="{{ post.postimage }}">
                        {% endif %}
                        <h2 class="postTitle">{{ post.title }}</h2>
                        <p class="postPreview">{{ post.content | truncatewords: 50 | strip_html }}</p>
                    </article>
                </a>
            </div>
            {% endfor %}
        </div>
    </main>
    <footer id="footer">
        <img src="/img/2022-01_ARBEE_Wort-Bild-Marke_rgb_weiss_01.svg" alt="ARBEE's Word-Imagemark.">
        <br>
        <div id="footercontact">
            <a href="https://discord.gg/fHu8AZBrYW" target="_blank">
                <img src="/img/icon_clyde_circle_white.svg" alt="Contact ARBEE over Discord.">
            </a>
            <a href="https://twitter.com/0Arbee0" target="_blank">
                <img src="/img/TwitterLogoWhite.svg" alt="Contact ARBEE over Twitter">
            </a>
            <a href="https://github.com/Arbee4ever" target="_blank">
                <img src="img/GitHub-Mark-Light-120px-plus.png" alt="Contact ARBEE over GitHub.">
            </a>
            <a
                href="mail&#116;o&#58;a%72&#37;62%65%6&#53;&#64;a%72b%65e%2Ecf?subject=Contact-Website&body=Hello%20ARBEE%2C">
                <img src="/img/MailLogoWhite.svg" alt="Contact ARBEE over eMail.">
            </a>
        </div>
        <p>This website is hosted by <a href="https://pages.github.com" target="_blank">GitHub</a>.</p>
        <p>Brand design by <a href="https://www.instagram.com/ralfbaenecke/" target="_blank">ralf baenecke</a>.</p>
        <p>© 2022 ARBEE</p>
    </footer>
    <script src="/script/top.js"></script>
    <script src="/script/filter.js"></script>
</body>

</html>
