backend:
  name: github
  repo: arbee4ever/arbeeco.de
  branch: default
  base_url: https://sveltia-cms-auth.arbee.workers.dev

media_folder: "/static/assets"
public_folder: "/assets"

collections:
  - name: "posts" # Used in routes, e.g., /admin/collections/blog
    label: "Posts" # Used in the UI
    label_singular: "Post" # Used in the UI
    folder: "content/posts" # The path to the folder where the documents are stored
    media_folder: "/static/assets/posts"
    public_folder: "/assets/posts"
    create: true # Allow users to create new documents in this collection
    extension: "yml" # The file extension searched for and used to save new collection items
    thumbnail: "*.src"
    fields:
      - name: "title"
        label: "Title"
        widget: string
      - name: "category"
        label: "Category"
        widget: relation
        collection: "categories"
        search_fields: ["name"]
        value_field: "{{slug}}"
        display_fields: ["name"]
        multiple: false
      - name: image
        label: Image
        widget: object
        required: false
        fields:
          - { label: Image, name: src, widget: image }
          - { label: Alt-Text, name: alt, widget: string }
      - name: "authors"
        label: "Authors"
        widget: relation
        collection: "authors"
        search_fields: ["name"]
        value_field: "{{slug}}"
        display_fields: ["name"]
        multiple: true
      - name: "date"
        label: "Date"
        widget: datetime
      - name: "content"
        label: "Content"
        widget: list
        types:
          - name: 'mod'
            label: 'Mod'
            widget: object
            summary: '{{fields.slug}}'
            fields:
              - { label: Modrinth-Slug, name: slug, widget: string }
          - name: 'modbody'
            label: 'Mod-Body'
            widget: object
            summary: '{{fields.slug}}'
            fields:
              - { label: Modrinth-Slug, name: slug, widget: string }
          - label: 'Text'
            name: 'text'
            widget: object
            summary: '{{fields.markdown}}'
            fields:
              - { label: Markdown, name: markdown, widget: markdown }
          - label: 'Image'
            name: 'image'
            widget: object
            summary: '{{fields.alt}}'
            fields:
              - { label: Image, name: src, widget: image }
              - { label: Alt-Text, name: alt, widget: string }
              - { label: Style, name: style, widget: text, required: false }
  - name: "authors"
    label: "Authors"
    label_singular: "Author"
    folder: "/content/authors"
    media_folder: "/static/assets/authors"
    public_folder: "/assets/authors"
    create: true # Allow users to create new documents in this collection
    extension: "yml" # The file extension searched for and used to save new collection items
    slug: "{{name}}"
    thumbnail: "*.src"
    fields:
      - name: "name"
        label: "Name"
        widget: string
      - name: "url"
        label: "URL"
        widget: string
      - name: "image"
        label: "Image"
        widget: object
        fields:
          - { label: Image, name: src, widget: image }
          - { label: Alt-Text, name: alt, widget: string }
  - name: "categories"
    label: "Categories"
    label_singular: "Category"
    folder: "/content/categories"
    media_folder: "/static/assets/categories"
    public_folder: "/assets/categories"
    create: true # Allow users to create new documents in this collection
    extension: "yml" # The file extension searched for and used to save new collection items
    slug: "{{name}}"
    fields:
      - name: "name"
        label: "Name"
        widget: string
      - name: "key"
        label: "Key"
        widget: string